* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.clearfix {
    clear: both;
}

.container {
    width: 1110px;
    margin: 0 auto;
    text-align: center;
}

.top {
    height: 100px;
    margin-bottom: 157px;
}

.header {
    background-image: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%), url('images/background.png');
    background-size: cover;
    padding-bottom: 187px;
}

.logo {
    float: left;
    display: block;
    margin: 39px 164px 0 0;
}

.top-nav {
    float: left;
    margin-top: 48px;
}

.top-nav-item {
    float: left;
    margin-right: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.top-nav-item:last-child {
    margin-right: 0;
}

.top-nav-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
}

.top-nav-link:hover {
    color: #000;
}

.button {
    float: right;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding: 12px 28px;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    margin-top: 33px;
}

.button:hover {
    color: #000;
    border: 1px solid #000;
}

.intro-title {
    font-size: 72px;
    line-height: 86px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 39px;
}

.intro-text {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    width: 540px;
    margin: 0 auto 55px auto;
}

.intro-button {
    display: block;
    width: 160px;
    margin: 0 auto;
    padding: 17px 52px;
    background-color: #FFFFFF;
    border-radius: 6px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #ED4C5C;
    text-decoration: none;
}

.intro-button:hover {
    color: #000;
    background-color: #a6a2cc;
}

.features {
    background-color: #fafafa;
    padding: 63px 0 229px 0;
}

.section-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #000;
    margin-bottom: 64px;
}

.features-cards-item {
    display: inline-block;
    vertical-align: top;
    width: 350px;
    margin-right: 30px;
    position: relative;
}

.features-cards-item:last-child {
    margin-right: 0;
}

.features-cards-image-caption {
    padding: 33px 32px 25px 32px;
    background-color: #FFFFFF;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 293px;
    position: absolute;
    top: 157px;
    left: calc((350px - 293px)*0.5);
}

.section-cards-title {
    font-size: 18px;
    line-height: 22px;
    color: #101010;
    text-transform: capitalize;
    margin-bottom: 16px;
}

.section-cards-title.manage {
    text-transform: none;
}

.and {
    text-transform: lowercase;
}

.section-cards-text {
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #101010;
    margin-bottom: 26px;
}

.features-cards-image-link {
    font-size: 12px;
    line-height: 18px;
    color: #ED4C5C;
    text-decoration: none;
    text-transform: capitalize;
}

.features-cards-image-link:hover {
    color: #a6a2cc;
    display: block;
    border: 1px solid #a6a2cc;
    border-radius: 9px;
}

.technology {
    background-color: #ffffff;
    padding: 63px 0 104px 0;
}

.section-title.tech {
    margin-bottom: 53px;
}

.technology-cards-link {
    display: block;
    padding: 0 32px 19px 32px;
    text-decoration: none;
    position: relative;
}

.technology-cards-item {
    display: inline-block;
    width: 255px;
    margin-right: 30px;
}

.technology-cards-item:last-child {
    margin-right: 0;
}

.technology-cards-number {
    font-size: 100px;
    line-height: 120px;
    color: rgba(16, 16, 16, 0.08);
    margin-bottom: 19px;
}

.cloud {
    position: absolute;
    top: 71.5px;
    left: 92px;
}

.security {
    position: absolute;
    top: 68.35px;
    left: 103.15px;
}

.pdf {
    position: absolute;
    top: 69px;
    left: 104.09px;
}

.csv {
    position: absolute;
    top: 71px;
    left: 104px;
}

.technology-cards-link:hover {
    background-color: #a6a2cc;
    border-radius: 20px;
}

.section-cards-text.tech {
    margin-bottom: 0;
}

.footer {
    background-color: #FAFAFA;
    padding: 85px 0 83px 0;
}

.footer-list {
    margin-bottom: 109px;
}

.footer-list-item {
    text-align: left;
    display: inline-block;
    vertical-align: top;
    width: 254px;
    margin-right: 30px;
}

.footer-list-item:last-child {
    margin-right: 0;
}

.section-cards-title.bottom {
    margin-bottom: 33px;
}

.section-cards-text.address {
    margin-bottom: 0;
}

.section-cards-text.services {
    text-decoration: none;
}

.section-cards-text.services:hover {
    color: #a6a2cc;
}

.section-cards-text.contact {
    display: block;
    margin-bottom: 7px;
    text-decoration: none;
}

.section-cards-text.contact:last-child {
    margin-bottom: 16px;
}

.section-cards-text.contact:hover {
    color: #a6a2cc;
}

.socials-link {
    float: left;
    width: 14px;
    height: 14px;
    margin-right: 12px;
}

.socials-link:last-child {
    margin-right: 0;
}

.socials-link.facebook {
    background-image: url('images/facebook.png');
    background-size: contain;
}

.socials-link.linkedin {
    background-image: url('images/linkedin.png');
    background-size: contain;
}

.socials-link.twitter {
    background-image: url('images/twitter.png');
    background-size: contain;
}

.visa-mc {
    margin-left: 6px;
}

.copyright {
    text-align: left;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #101010;
}

.socials-link:hover {
    box-shadow: 0px 0px 0px 2px rgba(166, 162, 204, 1);
}